$primaryDark: #00347c;
$primaryLight: #5588de;
$primaryDarkOld: rgb(24, 49, 88);
$primary: #065cac;

$secondary: #ffa000;
$secondaryLight: #ffd149;
$secondaryDark: #c67100;

$extraBlue:rgb(24, 64, 110);